.ankle  {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (min-width: $widescreen) {
    & .hero-head .container {
      padding-left: 18rem;
      padding-right: 18rem;
    }

    & .hero-body .container {
      padding-left: 14rem;
      padding-right: 14rem;
    }
  }

  .ankle-links a:hover {
    color: $primary;
  }

  .ankle-logo {
    margin-bottom: 3rem;
  }

  .ankle-cta {
    margin-top: 2rem;
  }
}
