.has-bg-image {
  background-color: $black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &--fixed {
    @include tablet {
      background-attachment: fixed;
    }
  }
}

.is-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.is-transparent {
  background-color: transparent;
  color: inherit;
}


.title.is-love-wins {
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 600;
  color: $white;

  .hero & {
    font-size: 9rem;
  }
}

.subtitle.is-love-wins {
  max-width: 800px;
  margin: 0 auto;
}


.container.is-readable {
  margin-top: 4rem;
  margin-bottom: 4rem;
  max-width: 800px;

}

.is-person-list {
  .column {
    padding-bottom: 5rem;
  }
}

.has-margin-0-a {
  margin: 0 auto;
}

.is-circle img {
  border-radius: 50%;
}

.section.is-dark {
  background-color: $dark;
  color: $dark-invert;
}

.route-app__footer.route-app__footer--embedded {
  display: none !important;
}

.columns.is-centered-vertically {
  align-items: center;
}
