.homepage-alert .message-header {
  justify-content: center;
}
#mc-embedded-subscribe-form {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.hero.splash {
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.2)),url(/public/img/splash--mobile.jpg);

  @include tablet {
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.4)),url(/public/img/splash--tablet.jpg);
  }

  @include desktop {
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.4)),url(/public/img/splash.jpg);
  }
}

.splash-head {
  padding: 1.5rem;
}

.splash-body {
  .container {
    bottom: 10vh;
  }

  &--hand-drawn-welcome {
    width: calc(18*1.7rem);
  }

  &--address {
    p {
      border-bottom: 2px solid $white;
      padding: 1rem;
    }

    @include tablet {
      justify-content:flex-end;

      p {
        padding: inherit 1rem inherit inherit;
        border-bottom: none;
        border-right: 2px solid $white;
      }
    }

  }

  &--times {
    @include tablet {
      justify-content: flex-start;
      padding-left: 1rem;
    }
  }

}
.learn-more--left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.learn-more--about {
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
  background: repeating-linear-gradient(-45deg,
    #e5e5e5 /* can't skip this, repeating gradient won't work */,
    #e5e5e5 2px,
    transparent 0,
    transparent 9px /* can't skip this either, tells where gradient repetition starts */);
  @include tablet {
    padding: 1.6rem 1rem;
  }
  @include desktop {
    padding: 6rem 1rem;
  }
}
.learn-more--right  {
  display: block;
  @include tablet {
    min-height: 50%;
  }
}
.learn-more--signup {
  justify-self: flex-end;
  padding: 2rem 1rem;
  border-top: 2px solid $black;
  @include tablet {
    max-height: 450px;
  }
}

.learn-more--right .tile-button-inner {
  padding: 3rem 1.5rem;
  @include desktop {
    // padding-top: 6rem;
    // padding-bottom: 6rem;
  }
  @include fullhd {
    // padding: 8rem 6rem;
  }
}
.learn-more--right .tile-button-inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  display: block;

  .button {
    margin-top: -30%;
  }
}


.christmas-banner {
  .title {
    text-shadow: -1px 1px 3px $light,
				  1px 1px 3px $light,
				  1px -1px 0 $light,
				  -1px -1px 0 $light;
    @include tablet {
      text-shadow: none;
    }
  }

  &--image {
    display: none;
    @include tablet {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
