.homepage-alert .message-header {
  justify-content: center;
}
#mc-embedded-subscribe-form {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.splash-head {
  padding: 1.5rem;
}

.splash-body {
  .container {
    bottom: 10vh;
  }

  &--hand-drawn-welcome {
    width: calc(18*1.7rem);
  }

  &--address {
    p {
      border-bottom: 2px solid $white;
      padding: 1rem;
    }

    @include tablet {
      justify-content:flex-end;

      p {
        padding: inherit 1rem inherit inherit;
        border-bottom: none;
        border-right: 2px solid $white;
      }
    }

  }

  &--times {
    @include tablet {
      justify-content: flex-start;
      padding-left: 1rem;
    }
  }

}

.learn-more--left {
  flex-direction: column;
}
.learn-more--right  {
  display: block;
  @include tablet {
    min-height: 50%;
  }
}

.learn-more--left,
.learn-more--right .tile-button-inner {
  padding: 3rem 1.5rem;
  @include desktop {
    //padding-top: 6rem;
    //padding-bottom: 6rem;
  }
  @include fullhd {
    //padding: 8rem 6rem;
  }
}
.learn-more--right .tile-button-inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  display: block;

  .button {
    margin-top: -30%;
  }
}
