// Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Update colors
$black: #303030;
$green: #8dc63f;
$red: #b22222;
$blue: #58a2d4;
$light: $white;

// Redfine variaables
$primary: $green;
$link: $green;
$button-background-color: transparent;
$dimensions: 16 24 32 48 64 96 128 192;

// Change Fullhd to be large enough to encompass 15 in laptops
$fullhd: 1680px + (2 * $gap);

// Import the rest of Bulma
@import "../node_modules/bulma/bulma";

// Import custom page styles
@import "_overrides.scss";
@import "_helpers.scss";
@import "_embeds.scss";
@import "_menu.scss";
@import "_tile-button.scss";
@import "_homepage.scss";
@import "_ankle.scss";
@import "_footer.scss";
