<footer class="footer">
  <div class="container is-widescreen has-text-centered-desktop">
    <div class="columns">
      <div class="column">
        <h6 class="title is-size-6 is-uppercase">Sundays</h6>
        <p>
          Sunday Services:<br />
          9:15 AM - <a class="tag is-primary is-uppercase has-text-weight-semibold" href="https://www.youtube.com/playlist?list=PLz9Hqclf7uHKxYAtFPKkzI_tIfmETK13O"><i class="fa fa-play"></i>&nbsp;online only</a><br>
          11:00 AM - <strong>in person</strong> and <a class="tag is-primary is-uppercase has-text-weight-semibold" href="https://www.youtube.com/channel/UCrhuYlVO09fvBMIMZ-flBCg/live?utm_source=Newsong+Fellowship&utm_campaign=website_footer_nav"><i class="fa fa-youtube-play"></i>&nbsp;live-streamed</a>
        </p>
      </div>
      <div class="column">
        <h6 class="title is-size-6 is-uppercase">Find Us</h6>
        <p>
          Newsong Fellowship<br />
          201 St. Louis Street<br />
          Edwardsville, IL 62025<br />
          618.659.2333
        <br/>
        </p>
      </div>
      <div class="column social-links">
        <h6 class="title is-6 is-uppercase">Get Social</h6>
        <a href="https://www.youtube.com/channel/UCrhuYlVO09fvBMIMZ-flBCg" title="YouTube" target="_blank" rel="noreferrer" class="link"><i class="fa fa-youtube fa-lg fa-fw"></i></a>
        <a href="https://www.facebook.com/newsongfellowship.edwardsville" title="Facebook" rel="noreferrer" target="_blank" class="link"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
        <a href="https://www.instagram.com/newsongfellowship/" title="Instagram" rel="noreferrer" target="_blank" class="link"><i class="fa fa-instagram fa-lg fa-fw"></i></a>
        <a href="http://subsplash.com/newsong" title="App" target="_blank" rel="noreferrer" class="link"><i class="fa fa-mobile fa-lg fa-fw"></i></a>
      </div>
      </div>
  </div>
</footer>
