<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Newsong Fellowship</title>
  <meta name="description" content="A church in Edwardsville, IL where we're trying to follow the way of Jesus, in authentic community, for the good of the world." />

  <!-- Social Networks -->
  <!-- TODO: get feedback on this stuff -->
  <meta property="og:url" content="http://www.newsong-fellowship.com/" />
  <meta property="og:title" content="Newsong Fellowship" />
  <meta property="og:description" content="A church in Edwardsville, IL where we're trying to follow the way of Jesus, in authentic community, for the good of the world." />
  <meta property="og:image" content="/public/img/social.jpg" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="/public/css/main.css">
  <script src="https://use.fontawesome.com/0707e04f4c.js"></script>

</head>
