<div class="hero-head splash-head">
  <aside id="mobileNavMenu" class="menu">
    <p class="menu-label">
      I'm New
    </p>
    <ul class="menu-list">
      <li><a href="/new/what-to-expect.html">What to Expect</a></li>
      <li><a href="/new/our-services.html">Our Services</a></li>
    </ul>
    <p class="menu-label">
      About Us
    </p>
    <ul class="menu-list">
      <li><a href="/about/what-we-believe.html">What we Believe</a></li>
      <li><a href="/about/our-team.html">Our Team</a></li>
    </ul>
    <p class="menu-label">
      Connect
    </p>
    <ul class="menu-list">
      <li><a href="/connect/sensory.html">Sensory City</a></li>
      <li><a href="/connect/next-steps.html">Next Steps</a></li>
      <li><a href="/connect/lifegroups.html">LifeGroups</a></li>
      <li><a href="https://subsplash.com/newsong/past-sermons">Past Sermons</a></li>
      <li><a href="/connect/giving.html">Give</a></li>
    </ul>
    <div class="social-links">
      <a href="https://www.facebook.com/newsongfellowship.edwardsville" title="Facebook" target="_blank" class="link"><i class="fa fa-facebook fa-fw"></i></a>
      <a href="https://www.instagram.com/newsongfellowship/" title="Instagram" target="_blank" class="link"><i class="fa fa-instagram fa-fw"></i></a>
      <a href="https://twitter.com/newsong2005" title="Twitter" target="_blank" class="link"><i class="fa fa-twitter fa-fw"></i></a>
      <a href="http://subsplash.com/newsong/app" title="App" target="_blank" class="link"><i class="fa fa-mobile fa-fw"></i></a>
    </div>
  </aside>
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <div class="navbar-burger burger" data-target="mobileNavMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-center">
        <div class="navbar-item has-dropdown is-hoverable has-text-weight-bold">
          <a class="navbar-link">
            I'm New
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="/new/what-to-expect.html">
              What to Expect
            </a>
            <a class="navbar-item" href="/new/our-services.html">
              Our Services
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable has-text-weight-bold">
          <a class="navbar-link">
            About Us
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="/about/what-we-believe.html">
              What We Believe
            </a>
            <a class="navbar-item" href="/about/our-team.html">
              Our Team
            </a>
          </div>
        </div>
        <div class="navbar-item navbar-center-spacer"></div>
        <div class="navbar-item has-dropdown is-hoverable has-text-weight-bold">
          <a class="navbar-link">
            Connect
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="/connect/sensory.html">
              Sensory City
            </a>
            <a class="navbar-item" href="/connect/next-steps.html">
              Next Steps
            </a>
            <a class="navbar-item" href="/connect/lifegroups.html">
              LifeGroups
            </a>
            <a class="navbar-item" href="https://subsplash.com/newsong/past-sermons">
              Past Sermons
            </a>
            <a class="navbar-item" href="/connect/giving.html">
              Give
            </a>
          </div>
        </div>
        <div class="navbar-item social-links">
          <a href="https://www.facebook.com/newsongfellowship.edwardsville" title="Facebook" target="_blank" class="link"><i class="fa fa-facebook fa-fw"></i></a>
          <a href="https://www.instagram.com/newsongfellowship/" title="Instagram" target="_blank" class="link"><i class="fa fa-instagram fa-fw"></i></a>
          <a href="https://twitter.com/newsong2005" title="Twitter" target="_blank" class="link"><i class="fa fa-twitter fa-fw"></i></a>
          <a href="http://subsplash.com/newsong/app" title="App" target="_blank" class="link"><i class="fa fa-mobile fa-fw"></i></a>
        </div>
      </div>
    </div>
  </nav>
  <div class="level navbar-logo">
    <div class="level-item">
      <a href="index.html">
        <img src="/public/img/nf-white-transparent.png" alt="Newsong Logo" class="navbar-logo-image">
      </a>
    </div>
  </div>
</div>
