<div class="hero-head splash-head">
  <aside id="mobileNavMenu" class="menu">
    {% for group in site.data.navigation.groups %}
      <p class="menu-label">
        {{ group.title }}
      </p>
      <ul class="menu-list">
        {% for page in group.pages %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}
    <div class="social-links">
      <a href="https://www.facebook.com/newsongfellowship.edwardsville" title="Facebook" rel="noreferrer" target="_blank" class="link"><i class="fa fa-facebook fa-fw"></i></a>
      <a href="https://www.instagram.com/newsongfellowship/" title="Instagram" rel="noreferrer" target="_blank" class="link"><i class="fa fa-instagram fa-fw"></i></a>
      <a href="https://twitter.com/newsong2005" title="Twitter" rel="noreferrer" target="_blank" class="link"><i class="fa fa-twitter fa-fw"></i></a>
      <a href="http://subsplash.com/newsong/app" title="App" rel="noreferrer" target="_blank" class="link"><i class="fa fa-mobile fa-fw"></i></a>
    </div>
  </aside>
  <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-burger burger" data-target="mobileNavMenu" role="button" aria-label="menu" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-center">
        {% for group in site.data.navigation.groups %}
        {% if forloop.index == 3 %}
        <div class="navbar-item navbar-center-spacer"></div>
        {% endif %}
        <div class="navbar-item has-dropdown is-hoverable has-text-weight-bold">
          <a class="navbar-link">
            {{ group.title }}
          </a>
          <div class="navbar-dropdown is-boxed">
            {% for page in group.pages %}
              <a class="navbar-item" href="{{ page.url }}">
                {{ page.title }}
              </a>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
        <div class="navbar-item social-links">
          <a href="https://www.facebook.com/newsongfellowship.edwardsville" title="Facebook" rel="noreferrer" target="_blank" class="link"><i class="fa fa-facebook fa-fw"></i></a>
          <a href="https://www.instagram.com/newsongfellowship/" title="Instagram" rel="noreferrer" target="_blank" class="link"><i class="fa fa-instagram fa-fw"></i></a>
          <a href="https://twitter.com/newsong2005" title="Twitter" target="_blank" rel="noreferrer" class="link"><i class="fa fa-twitter fa-fw"></i></a>
          <a href="http://subsplash.com/newsong/app" title="App" target="_blank" rel="noreferrer" class="link"><i class="fa fa-mobile fa-fw"></i></a>
        </div>
      </div>
    </div>
  </nav>
  <div class="level navbar-logo">
    <div class="level-item">
      <a href="/">
        <img src="/public/img/nf-white-transparent.png" alt="Newsong Logo" class="navbar-logo-image">
      </a>
    </div>
  </div>
</div>
