<div class="container">
  <article class="homepage-alert message is-success">
    <div class="message-header">
      <p>
        <strong>Easter Service</strong>
      </p>
    </div>
    <div class="message-body has-text-centered">
      <p>
        Join us on Sunday at 10am for a powerful Resurrection Sunday celebration!<br />
        We hope you will join us for in-person services, kids' ministry, or via the stream.<br /><br />
        <a
          href="https://www.youtube.com/playlist?list=PLz9Hqclf7uHKxYAtFPKkzI_tIfmETK13O"
          class="button is-dark has-text-weight-bold is-outlined"
        >
          <span>Watch the Live Stream!</span>
        </a>
      </p>
    </div>
  </article>
</div>
