<div class="container">
  <article class="homepage-alert message is-warning">
    <div class="message-header">
      <p><strong>Join us for in person services!</strong></p>
    </div>
    <div class="message-body has-text-centered">
      <p class="has-text-weight-bold">
        Registration is only required for children's ministry <br /><br />
        <a
          href="https://newsongfellowship.churchcenter.com/registrations/"
          class="button is-dark has-text-weight-bold is-outlined"
        >
          <span>Register a child</span>
        </a>
      </p>
    </div>
  </article>
</div>
