<div class="container">
  <article class="homepage-alert message is-warning">
    <div class="message-header">
      <p>
        <strong>Sunday Service Update</strong>
      </p>
    </div>
    <div class="message-body has-text-centered">
      <p>
        Join us in-person or via Live Stream! <br /><br />
        <a
          href="https://www.youtube.com/playlist?list=PLz9Hqclf7uHKxYAtFPKkzI_tIfmETK13O"
          class="button is-dark has-text-weight-bold is-outlined"
        >
          <span>Watch the Live Stream!</span>
        </a>
      </p>
    </div>
  </article>
</div>
