{% case include.link %}
  {% when "what-we-believe.html" %}
    <a href="/about/what-we-believe.html" class="tile-button has-bg-image is-square-tablet" style="background-image: url(/public/img/what-we-believe-small.jpg);">
      <div class="tile-button-inner">
        <div class="button is-light is-outlined is-medium has-text-weight-bold">What we Believe</div>
      </div>
    </a>
  {% when "what-to-expect.html" %}
    <a href="/new/what-to-expect.html" class="tile-button has-bg-image is-square-tablet" style="background-image: url(/public/img/what-to-expect-small.jpg);">
      <div class="tile-button-inner">
        <div class="button is-light is-outlined is-medium has-text-weight-bold">What to Expect</div>
      </div>
    </a>
  {% when "our-services.html" %}
    <a href="/new/our-services.html" class="tile-button has-bg-image is-square-tablet" style="background-image: url(/public/img/living-room-communion-side-hug-small.jpg);">
      <div class="tile-button-inner">
        <div class="button is-light is-outlined is-medium has-text-weight-bold">Our Services</div>
      </div>
    </a>
  {% when "next-steps.html" %}
    <a href="/connect/next-steps.html" class="tile-button has-bg-image is-square-tablet" style="background-image: url(/public/img/living-room-cello-small.jpg);">
      <div class="tile-button-inner">
        <div class="button is-light is-outlined is-medium has-text-weight-bold">Next Steps</div>
      </div>
    </a>
  {% when "past-sermons.html" %}
    <a href="/connect/past-sermons.html" class="tile-button has-bg-image is-square-tablet" style="background-image: url(/public/img/living-room-dave-preaching-small.jpg);">
      <div class="tile-button-inner">
        <div class="button is-light is-outlined is-medium has-text-weight-bold">Past Sermons</div>
      </div>
    </a>
  {% when "current-series.html" %}
    <a href="/new/current-series.html" class="tile-button has-iframe-image is-square-tablet">
      <div class="tile-button-inner">
        <iframe title="Current Series Image" src="https://subsplash.com/+f947/embed/mi/*?video" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <div class="tile-button-iframe-cover"></div>
        <div class="button is-light is-outlined is-medium has-text-weight-bold">Current Series</div>
      </div>
    </a>
  {% when "love-wins.html" %}
    <a href="/love-wins.html" class="tile-button has-two-line-button is-black is-square-tablet">
      <div class="tile-button-inner">
        <div class="button is-multiline is-light is-outlined is-medium has-text-weight-bold">What we Mean By<br />LOVE WINS</div>
      </div>
    </a>
  {% when "lifegroups.html" %}
    <a href="/connect/lifegroups.html" class="tile-button has-bg-image is-square-tablet" style="background-image: url(/public/img/living-room-families-small.jpg);">
      <div class="tile-button-inner">
        <div class="button is-light is-outlined is-medium has-text-weight-bold">LifeGroups</div>
      </div>
    </a>
  {% when "our-team.html" %}
    <a href="/about/our-team.html" class="tile-button has-bg-image is-square-tablet" style="background-image: url(/public/img/living-room-preaching-small.jpg);">
      <div class="tile-button-inner">
        <div class="button is-light is-outlined is-medium has-text-weight-bold">Our Team</div>
      </div>
    </a>
  {% else %}

{% endcase %}
