<section class="container is-fullhd">
  <div class="columns is-gapless is-marginless has-text-centered">
    <div class="column">
      <a href="what-we-believe.html" class="tile-button has-bg-image is-square-tablet" style="background-image: url(public/img/what-we-believe-small.jpg);">
        <div class="tile-button-inner">
          <div class="button is-light is-outlined is-medium has-text-weight-bold">What we Believe</div>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="love-wins.html" class="tile-button has-two-line-button is-black is-square-tablet">
        <div class="tile-button-inner">
          <div class="button is-multiline is-light is-outlined is-medium has-text-weight-bold">What we Mean By<br />LOVE WINS</div>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="what-to-expect.html" class="tile-button has-bg-image is-square-tablet" style="background-image: url(public/img/what-to-expect-small.jpg);">
        <div class="tile-button-inner">
          <div class="button is-light is-outlined is-medium has-text-weight-bold">What to Expect</div>
        </div>
      </a>
    </div>
  </div>
</section>
