---
layout: default
---

<section class="hero is-dark">
  {% include nav.html %}
</section>
{% if page.image %}
<section class="section has-bg-image section-top-image" style="background-image: url({{ page.image }})">
</section>
{% endif %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container is-widescreen has-text-centered">
      <h1 class="title is-size-3-mobile is-uppercase">
        {{ page.title }}
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container {% unless page.subsplash-embed %}is-readable{% endunless %}">
    <div class="content">
      {{ content }}
    </div>
  </div>
</section>
<section class="container is-fullhd">
  <div class="columns is-gapless is-marginless has-text-centered">
    <div class="column">
      {% include page_link.html link=page.left_link %}
    </div>
    <div class="column">
      {% include page_link.html link=page.middle_link %}
    </div>
    <div class="column">
      {% include page_link.html link=page.right_link %}
    </div>
  </div>
</section>
