---
layout: default
---

<section class="hero is-dark">
  {% include nav.html %}
</section>
{% if page.image %}<section class="section has-bg-image section-top-image" style="background-image: url({{ page.image }})"></section>{% endif %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container is-widescreen has-text-centered">
      <h1 class="title is-size-3-mobile is-uppercase">
        {{ page.title }}
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-readable">
    <div class="content">
      {{ content }}
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title is-size-2">Pastoral Staff</h2>
    <div class="columns is-phablet is-multiline is-centered has-text-centered is-person-list">
      {% for pastor in site.data.pastors.pastors %}
        <div class="column is-half-phablet is-half-tablet">
          <figure class="image is-192x192 is-circle has-margin-0-a">
            {% if pastor.photo %}
              <img src="{{ pastor.photo }}" alt="{{ pastor.name }}">
            {% else %}
              <div style="width:190px; height:190px; background-color:lightgray; border-radius: 50%;"></div>
            {% endif %}
          </figure>
          <h2 class="is-size-3">{{ pastor.name }}</h2>
          <h4 class="subtitle is-marginless">{{ pastor.title }}</h4>
          <a href="mailto:{{ pastor.email }}">{{ pastor.email }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title is-size-2">Administrative Staff</h2>
    <div class="columns is-phablet is-multiline is-centered has-text-centered is-person-list">
      {% for staff in site.data.staff.staff %}
        <div class="column is-half-phablet is-one-third-tablet">
          <figure class="image is-192x192 is-circle has-margin-0-a">
            {% if staff.photo %}
              <img src="{{ staff.photo }}" alt="{{ staff.name }}">
            {% else %}
              <div style="width:190px; height:190px; background-color:lightgray; border-radius: 50%;"></div>
            {% endif %}
          </figure>
          <h2 class="is-size-3">{{ staff.name }}</h2>
          {% if staff.title %}
            <h4 class="subtitle is-marginless">{{ staff.title }}</h4>
          {% endif %}
          <a href="mailto:{{ staff.email }}">{{ staff.email }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title is-size-2">Elders</h2>
    <div class="columns is-phablet is-multiline is-centered has-text-centered is-person-list">
      {% for elder in site.data.elders.elders %}
        <div class="column is-half-phablet is-one-third-tablet">
          <figure class="image is-192x192 is-circle has-margin-0-a">
            {% if elder.photo %}
              <img src="{{ elder.photo }}" alt="{{ elder.name }}">
            {% else %}
              <div style="width:190px; height:190px; background-color:lightgray; border-radius: 50%;"></div>
            {% endif %}
          </figure>
          <h2 class="is-size-3">{{ elder.name }}</h2>
          <a href="mailto:{{ elder.email }}">{{ elder.email }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="container is-fullhd">
  <div class="columns is-gapless is-marginless has-text-centered">
    <div class="column">
      {% include page_link.html link=page.left_link %}
    </div>
    <div class="column">
      {% include page_link.html link=page.middle_link %}
    </div>
    <div class="column">
      {% include page_link.html link=page.right_link %}
    </div>
  </div>
</section>
